.card{
    position: relative;
    height: 23.75rem;
}

.cardside{
    background-color: white;
    transition: all .8s;
    height: 23.75rem;
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    border-radius:5px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgb(44, 43, 43, 0.15);
}
.cardsidereview{
    background-color: rgb(226, 226, 202);
    transition: all .8s;
    height: 23.75rem;
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    border-radius:5px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgb(44, 43, 43, 0.15);
}
.cardside:hover{
    padding: 3px;
    box-shadow: 0 15px 40px rgb(44, 43, 43, 0.15);
}
.cardpicture{
    background-size: cover;
    height: 11.25rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.cardheadingdefault{
    font-size: 28px;
    font-weight: 300;
    font-family: Andale Mono, monospace;
    text-transform: uppercase;
    text-align: center;
    color: rgb(241, 46, 12);
    position:absolute;
    top: 11.25rem;
    left: 2.25rem;

}
.cardheading1{
    font-size: 1.75rem;
    font-weight: 300;
    font-family: Andale Mono, monospace;
    text-transform: uppercase;
    text-align: center;
    color: rgb(241, 46, 12);
    position:absolute;
    top: 11.25rem;
    left: 4.6875rem;

}
.cardheadingreview1{
    font-size: 1.75rem;
    font-weight: 300;
    font-family: Andale Mono, monospace;
    text-transform: uppercase;
    text-align: center;
    color: rgb(241, 46, 12);
    position:absolute;
    top: 11.25rem;
    left: 4.6875rem;

}
.cardheading2{
    font-size: 1.75rem;
    font-weight: 300;
    font-family: Andale Mono, monospace;
    text-transform: uppercase;
    text-align: center;
    color: rgb(241, 46, 12);
    position:absolute;
    top: 11.25rem;
    left: 5.3125rem;

}
.cardheading3{
    font-size: 1.75rem;
    font-weight: 300;
    font-family: Andale Mono, monospace;
    text-transform: uppercase;
    text-align: center;
    color: rgb(241, 46, 12);
    position:absolute;
    top: 11.25rem;
    left: 3.75rem;

}
.cardheading4{
    font-size: 28px;
    font-weight: 300;
    font-family: Andale Mono, monospace;
    text-transform: uppercase;
    text-align: center;
    color: rgb(241, 46, 12);
    position:absolute;
    top: 11.25rem;
    left: 5.9375rem;

}
.carddetails{
    padding:36px 30px 10px 30px;
}
.carddetailsreview{
    padding:36px 30px 10px 30px;
}
.listdesign{
        list-style: none;
        width: 80%;
        margin: 0 auto;
    }
.list{  
        color: rgb(34, 33, 34);
        text-align:center;
        font-size: 15px;
        padding:10px;
        border-bottom: 1px solid rgb(190, 34, 34);
    }

.list1{
    margin-left: 8.75rem;
    margin-right: 6px;
    padding: 4px;
    color: rgba(177, 31, 12, 0.89);
    text-align:right;
    font-size: 15px; 
    font-weight: bolder;
    border: 2px solid rgb(149, 221, 32);
    border-radius: 1.25rem;
}
.linktocart{
    position:absolute;
    top: 21.875rem;
    left: 5px;
    
}
.cartlink{
    text-transform: uppercase;
    padding:2px;
    background-color: rgb(218, 39, 16);
    color: white;
    font-size: medium;
    display: inline-block;
    border-radius: 3px;
}

.cartlink:visited{
    text-transform: uppercase;
    padding:2px;
    background-color: rgb(218, 39, 16);
    color: white;
    font-size: medium;
    display: inline-block;
    border-radius: 3px;
}

.cartlink:focus{
    box-shadow: 0 2px 2px rgba(17, 16, 16, 0.15);
    background-color: rgb(16, 112, 13);
    transform: translateY(0);
    border-radius: 3px;
    padding:2px;
}
.cartlink:hover{
    background-color: rgb(108, 233, 92);
    color: white;
    box-shadow:0 10px 10px rgba(19, 18, 18, 0.15);
    transform: translateY(-1px);
    border-radius: 3px;
    padding:3px;
}
.classheading1{
    font-size: 1.75rem;
    font-weight: 300;
    font-family: Andale Mono, monospace;
    text-transform: uppercase;
    text-align: center;
    color: rgb(241, 46, 12);
    position:absolute;
    top: 11.25rem;
    left: 9.375rem;

}
.classheading2{
    font-size: 22px;
    font-weight: 200;
    font-family: Andale Mono, monospace;
    text-transform: uppercase;
    text-align: left;
    color: rgba(179, 121, 15, 0.788);
    position: absolute;
    top: 10px;
    left: 25rem;
}
