.centertext{
    text-align: center;
}
.centertext1{
    text-align: center;
}
.fontinitial1{
    font-size: large;
    font-weight: 800;
    font-family: 'lato', sans-serif;
    text-transform: uppercase;
    color: rgb(5, 39, 78);
}
.fontinitial2{
    text-align: center; 
    font-family: Apple Chancery, cursive;
    color: rgb(21, 2, 48);
    font-size: 16px;
}
.fontphone2{
    display:none;
    text-align: center; 
    font-family: Apple Chancery, cursive;
    color: rgb(21, 2, 48);
    font-size: 16px;
}
.righttext{
    text-align: right;
}
.searchdiv{
    margin-left: 0%;   /*32.8125rem*/
}
.imgposi{
    position:absolute;
    margin-left: 0rem;  /*58.5625rem*/
    margin-top: 0rem;
    float: left;
}
.searchbar{
    width: 25rem;
    height: 1.5rem;
    padding: 0.4rem o.625rem 0rem 0.625rem;   /*15rem*/
}
.reviewdiv{
    margin-left: 70px;
}
.namebar{
    width: 400px;
    padding: 5px 20px 5px 5px;
}
.reviewbar{
    width: 400px;
    padding: 5px 20px 70px 5px;
}
.searchbar:hover{
    box-shadow:0 10px 20px rgb(34, 33, 33 , 0.15);
    transform: translateY(-2px);
    border-radius: 5px;
}

.buttommargin{
    margin-bottom: 3.75rem;
}
.textdesign{
    font-size: 20px;
    font-family:Bookman, URW Bookman L, serif;
    color:tomato;
    font-weight: bold;
    padding: 12px;
}


.buttontext:visited{
    font-size: 20px;
    color: rgb(5, 27, 23);
    display: inline-block;
    text-decoration: none;
    padding:8px;
    border-bottom: 1px solid rgb(60, 88, 4) ;
    transition: all .2s;
    border-radius: 5px;
}
.buttontext:hover{
    background-color: yellowgreen;
    color: white;
    box-shadow:0 10px 20px rgb(34, 33, 33 , 0.15);
    transform: translateY(-2px);
    border-radius: 5px;
    padding:8px;
}
.buttontext:active{
    box-shadow: 0 5px 10px rgb(34, 33, 33 , 0.15);
    transform: translateY(0);
    border-radius: 5px;
    padding:8px;
}
.submit{
    text-transform: uppercase;
    padding:10px 20px;
    background-color: rgba(236, 35, 35, 0.884);
    color: white;
    font-size: medium;
    display: inline-block;
    border-radius: 15px;
}
.submit:hover{
    background-color: rgb(143, 70, 10);
    color: white;
    box-shadow:0 2px 3px rgb(34, 33, 33 , 0.15);
    transform: translateY(-1px);
    border-radius: 15px;
    padding:12px 22px;
}
.primary{
    margin-left: 0.9375rem;
    margin-right: 10rem;
}

.primarylink:hover{
    box-shadow:0 2px 3px rgba(157, 160, 9, 0.87);
    transform: translateY(-1px);
    background-color: rgb(11, 11, 20);
    padding:30px 0px 2px 0px;
}
.secondary1{
    margin-right: 10rem;
    float:left;
}
.secondary2{
    margin-right: 10rem;
    float:left;
}
.secondary3{
    margin-right: 10.8125rem;
    float:left;
}
.secondary4{
    margin-right: 7.5rem;
    float:left;
}
.alignfooter{
    margin-left: 20rem;
}
.photo{
    color:white;

}
.photo:hover{
    box-shadow:0 2px 3px rgba(189, 189, 183, 0.87);
    transform: translateY(-1px);
    background-color: rgb(11, 11, 20);
    padding:2px 2px 2px 2px;
}
.backtotop{
    float: left;
    font-size: 200;
    margin-top: 0rem;
}
