.section{
    background-color: #dad8d8;
    margin-top: -8.375rem;
    margin-left: 28px;
    margin-right: 28px;
    padding-bottom: 11.25rem;
}
.footer{
    position: relative;
    background-color: black;
    color: #fff;
    margin-left: 0;
    margin-right: 0;
    padding-left: 100px;
    padding-bottom: 80px;
    padding-top: 50px;
}
.section1{
    background-image: url(https://media.timeout.com/images/103391491/image.jpg);
    background-size: cover;
    height:46.875rem;
    background-color: #bdc00b;
    margin-left: 28px;
    margin-right: 28px;
    padding-bottom: 9.375rem;
    clip-path: polygon(0 0 , 100% 0 , 100% 85% , 0 100%);
}

